html,body {
  height: 100%;
}


body {  
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.wrapper {
  max-width: 1800px;    
  margin: 0 auto;
  padding: 0 15px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.breadcrumbs {
 
  &__list {
    display: flex;
    justify-content: center;
  }
  &__item {
    padding-right: 12px;
    margin-right: 7px;
    @extend %rubik-400;
    color: #8b8b8b;
    position: relative;
    &::after {
      content: "/";
      position: absolute;
      right: 0;
    }
    &:last-child {
      padding-right: 0px;
      margin-right: 0;
      &::after{
        content: "";
      }
    }
  }
  &__link {   
    color: inherit;
  }
}