html,body {
  height: 100%;
}


body {  
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.wrapper {
  max-width: 1800px;    
  margin: 0 auto;
  padding: 0 15px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.breadcrumbs {
 
  &__list {
    display: flex;
    justify-content: center;
  }
  &__item {
    padding-right: 12px;
    margin-right: 7px;
    @extend %rubik-400;
    color: #8b8b8b;
    position: relative;
    &::after {
      content: "/";
      position: absolute;
      right: 0;
    }
    &:last-child {
      padding-right: 0px;
      margin-right: 0;
      &::after{
        content: "";
      }
    }
  }
  &__link {   
    color: inherit;
  }
}

.pagination {
  padding-bottom: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  @extend %rubik-400;
  font-size: 16px;
  &__list {
    display: flex;
    align-items: center;
  }
  &__item + .pagination__item {
    margin-left: 17px;
  }
  &__item {
    display: inline-block;    
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 48px;
    height: 48px;
    border: 1px solid #a3bbc8;
    color: #243f4d;
  }
  &__link--active {
    border-color: #a3bbc8;
    background-color: #a3bbc8;
    color: #fff;
  }
  &__next {
    min-width: 70px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #a3bbc8;
    margin-left: 17px;
    color: #243f4d;
  }
}