$FontHeader:#436372;
$FontFooter:#7b7b7b;
$mainTitle:#191919;


%dmsans-400 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
}

%dmsans-500 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
}

%dmsans-700 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
}

%rubik-400 {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

%rubik-500 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

%title-catalog {
    padding-bottom: 35px;
    text-align: center;
    font-size: 36px;
    line-height: 38px;
    @extend %dmsans-700;
}

%filter-btn-catalog {
    display: flex;
    justify-content: center;   
}

%btn-catalog {    
    color: #8b8b8b;
    background-color: transparent;
    font-size: 16px;
    line-height: 18px;
    border: none;
    @extend %dmsans-700;
    outline: none;
    cursor: pointer;

}


%subtitle-catalog {
    font-size: 16px;
    line-height: 18px;
    @extend %dmsans-500;
    color: #243f4d;
}

%text-catalog {
    font-size: 16px;
    line-height: 18px;
    color: #a3bbc8;
    @extend %dmsans-700;
}



@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}