$FontHeader:#436372;
$FontFooter:#7b7b7b;
$mainTitle:#191919;


%dmsans-400 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
}

%dmsans-500 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
}

%dmsans-700 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
}

%rubik-400 {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

%rubik-500 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}
